.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 10rem;
}

.container label {
    margin-right: 1rem;
    font-weight: bold;
}

.input_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_container {
    margin-right: 1rem;
}

.container form {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .container{
        padding: 1.3rem 5rem;
    }
}

@media only screen and (max-width: 950px) {
    .container{
        flex-direction: column;
    }

    .container form {
        margin-top: 1.3rem;
    }
}

@media only screen and (max-width: 760px) {
    .container form{
        flex-direction: column;
        align-items: flex-start;
    }

    .container label {
        align-self: center;
    }

    .input_button_container {
       flex-direction: column;
       justify-content: baseline;
       align-items: baseline;
    }


    .input_container {
        margin-bottom: 1.2rem;
        margin-right: 0;
    }

    .container label {
        margin-bottom: 1rem;
        text-align: center;
    }

}

@media only screen and (max-width: 580px) {

    .container {
        padding: 1.3rem .5rem;
    }

    .container h2 {
        font-size: 18px;
    }

}

