.container {
    margin-top: 1.5rem;
}

.multiple li {
    border-left: 1px solid grey; 
}

.multiple li:last-child{
    border-left: none;
}


.container li {
    list-style: none;
    padding: 0 0 2rem 2.5rem;
    position: relative;
}

.success_icon_box {
    position: absolute;
    top: 0;
    left: -.95rem;
    display: flex !important;
    width: fit-content;
    padding: 0 !important;
    border-radius: 50% !important;
}

.container li > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem 0;
    padding: 1rem 1.3rem;
    background-color: #F0F3F5;
    border-radius: 1rem;
}

.container h4 {
    padding-bottom: .5rem;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.item2{
    grid-column-start:2 ;
    grid-column-end: 3;
}

.item3{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item3>div {
    display: flex;
    width: fit-content;
}

.item3 h4 {
    padding-right: 3rem;
}

@media only screen and (max-width: 280px) {
    .container li > div {
        grid-template-columns: auto;
    }

    .item1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .item2{
        grid-column-start:1 ;
        grid-column-end: 3;
    }
    
    .item3{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .container li {
        padding: 0 0 2rem 1.5rem;
    }

    .container li > div {
        padding: 1rem .8rem;
    }
}
