.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem 2rem;
    padding: 1rem 0;
}

.container h4 {
    padding-bottom: .5rem;
}

@media only screen and (max-width: 580px) {

    .container {
        grid-template-columns: auto auto;
        grid-gap: 1rem 3rem;
    }
}

@media only screen and (max-width: 450px) {

    .container {
        grid-template-columns: auto;
        grid-gap: 1.3rem 0;
    }
}