*{
    box-sizing: border-box;
}

.solid {
    background-color:#6F3FB1;
    color: #fff;
    border: 1px solid transparent;
    padding: .8rem 1.7rem;
}

.outline {
    padding: .8rem 1.7rem;
    border: 1px solid #6F3FB1;
    background-color: none;
}

.link {
    border: none;
    background: none;
    color:#007BFF;
}


.button {
    /* color: #fff; */
    /* background-color:#6F3FB1; */
    /* color: #fff; */
    /* border: 1px solid transparent; */
    text-decoration: none;
    text-align: center;
    /* padding: .8rem 1.7rem; */
    font-size: 14px;
    border-radius: .2rem;
    /* margin-left: 1rem; */
    cursor: pointer;
}

@media only screen and (max-width: 760px) {

    .button{
        margin-left: 0;
        /* margin: 1.5rem 0; */
        font-size: 16px;
    }

}

@media only screen and (max-width: 320px) {

    .button{
        padding: .4rem 1rem;
        font-size: 14px;
    }

}