*{
    box-sizing: border-box;
}

.solid {
    background-color:#6F3FB1;
    color: #fff;
    border: 1px solid transparent;
    padding: .8rem 1.7rem;
}

.outline {
    padding: .8rem 1.7rem;
    border: 1px solid #6F3FB1;
    background-color: none;
}

.link {
    border: none;
    background: none;
    color:#007BFF;
}


.button {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border-radius: .2rem;
    cursor: pointer;
}

@media only screen and (max-width: 760px) {

    .button{
        margin-left: 0;
        font-size: 16px;
    }

    .solid {
        width: 100%;
    }

}

@media only screen and (max-width: 580px) {
    .solid{
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {

    .button{
        padding: .4rem 1rem;
        font-size: 14px;
    }

}