.inputBox{
    padding: 1rem 3rem;
    border: 1px solid #DDE2E5;
    /* margin-right: 1rem; */
}

.inputBox:focus {
    outline: none;
}

.inputBox::placeholder{
    font-size: 14.5px;
}

@media only screen and (max-width: 760px) {

    .inputBox{
        margin-right: 0;
        /* margin-bottom: 1.2rem; */
    }

}

@media only screen and (max-width: 320px) {

    .inputBox{
        padding: .6rem 1rem;
        border: 1px solid #DDE2E5;
    }

    .inputBox::placeholder{
        font-size: 12px;
    }
    

}