@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

.message_box {
    text-align: justify;
    width: fit-content;
    max-width: 100%;
    overflow-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
}

.message_text {
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #fff;
    padding: .5rem;
    margin-bottom: .5rem;
    margin-top: .7rem;
}

.container>p {
    padding: .5rem 0;
}

.titleBox {
    display: flex;
    align-items: center;
    color: #76808B;
}

.titleBox p:first-child{
    font-weight: bold;
}

.circle {
    background-color: #76808B;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 .3rem;
}

.attachment_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #DDE2E5;
}

.attachment_box p{
    padding: .3rem 0;
}

.attachment_box p:first-child{
    font-weight: bold;
}

.attachment_box p:last-child{
    color: #007BFF;
}

.replyBox{
    padding-left: 1rem;
}

.replyBox>div{
    align-self: flex-end;
    border-left: 4px solid limegreen;
}


@media only screen and (max-width: 280px) {
    .replyBox{
        padding-left: .5rem;
    }
}


@media only screen and (max-width: 760px) {
    .titleBox{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .circle{
        display: none;
    }

    .titleBox p:first-child{
        margin-bottom: .4rem;
    }
}
